@model IEnumerable<KuetOverflow.Models.Question>

<h2>Queations</h2>

<input type="button" class="btn btn-primary" value="Ask Question" onclick="@("window.location.href='" + @Url.Action("Create", "Questions") + "'");" />
<br/><br/>

@foreach (var question in Model)
{    
    <hr />
    <div class="media">
        <div class="media-left">
            <div>
                <p class="voteStrong gray  no-margin">@question.TotalVote</p>
                <p class=" no-margin" style="text-align: center">votes</p>
            </div>
            
            <div class="green-border">
                <p class="voteStrong no-margin">@question.TotalAnswers</p>
                <p class=" no-margin">answers</p>
            </div>

            <span>@question.Views</span> views
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <a asp-controller="Questions" asp-action="Details" asp-route-id="@question.ID">
                    @question.Title
                </a>
            </h4>
            @question.Description
            <div class="row">
                <div class="col-md-8">
                    
                </div>
                <div class="col-md-4">
                    <div style="float: left">
                        <img id="user-image-div" class="user-image" src="@question.UserImage" />
                    </div>
                    <div>
                        asked by
                        <a asp-action="Details" asp-controller="Activities" asp-route-id="@question.UserId">@question.UserName</a>

                    </div>
                </div>
            </div>
        </div>
        
    </div>

}
    


