@model IEnumerable<KuetOverflow.Models.Question>

<h2>Queations</h2>

<input type="button" class="btn btn-primary" value="Ask Question" onclick="@("window.location.href='" + @Url.Action("Create", "Questions") + "'");" />
<br/><br/>

@foreach (var question in Model)
{
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="..." alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <a asp-controller="Questions" asp-action="Details" asp-route-id="@question.ID">
                    @question.Title
                </a>
            </h4>
            @question.Description
        </div>
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">
                asked by
                <p>@question.UserName</p>
            </div>
        </div>
    </div>
    <hr/>
}
    


