@model KuetOverflow.Models.SchoolViewModels.Lecture_LectureListViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "_StudentLayout";
}

<div id="lectureList" class="col-md-2">
    <h3>Lectures</h3>
    
    <div id="paging" class="list-group">
        
        @foreach (var lecture in Model.Lectures)
        {
            <a class="list-group-item @(lecture.ID.ToString() == TempData["cur_id"].ToString() ? "active": "") " href="@Url.Action("Lecture", "Lectures", new {id = @lecture.ID, course_id = @Model.Course_ID})">
                @lecture.Title
            </a>
        }

    </div>

</div>

<div id="mainContent" class="col-lg-10">
    @Html.Partial("Lecture")
</div>