@model KuetOverflow.Models.SchoolViewModels.Lecture_LectureListViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "_StudentLayout";
}

<div id="lectureList" class="col-md-2">
    <h3>Lectures</h3>
    <ul>
        @foreach (var lecture in Model.Lectures)
        {
            <li class="pager">
                
                    
                    <a href="@Url.Action("Details", "Lectures", new {id = @lecture.ID, course_id = @Model.Course_ID})">
                        @lecture.Title
                    </a>
                    
                

            </li>
        }

    </ul>
</div>

<div id="mainContent" class="col-lg-10">
    @Html.Partial("_Details")
</div>