@using KuetOverflow.Models
@model KuetOverflow.Models.SchoolViewModels.LectureCommentViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "_StudentLayout";
}

<div>
    <h2>@Html.DisplayFor(model => model.Lecture.Title)</h2>
    <hr />
    @Html.DisplayFor(model => model.Lecture.Body)
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Lecture.UpdateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lecture.UpdateTime)
        </dd>
    </dl>
</div>



<div>
    <a asp-action="Edit" asp-route-id="@Model.Lecture.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<hr/>
<h2>Discussion</h2>
@foreach(var comment in Model.Comments)
    {
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="~/apple.png" alt="bikash">
                </a>
                @Html.DisplayFor(model => comment.UserName)
            </div>
            <div class="media-body">
            
                <br/>
                <p class="media-heading">@Html.DisplayFor(model => comment.Body)</p>
                <i>@comment.DateTime</i>
            </div>
        </div>
    }