@model KuetOverflow.Models.Question

<br/>
<a href="@Url.Action("UpVote", "Questions", new {id=Model.ID})">
    <span class="glyphicon glyphicon-triangle-top @(@Model.Vote > 0 ? "green_icon" : "")" aria-hidden="true"></span>
</a>

<p class="no-margin" style="font-size: 20px; text-align: center">@Model.TotalVote</p>

<a href="@Url.Action("DownVote", "Questions", new {id=Model.ID})">
    <span class="glyphicon glyphicon-triangle-bottom  @(@Model.Vote < 0 ? "red_icon": "")" aria-hidden="true"></span>
</a>

<a href="@Url.Action("StarClicked", "Questions", new {id=Model.ID})">
    <span class="glyphicon @(@Model.Star? "glyphicon glyphicon-star pink_icon" : "glyphicon glyphicon-star-empty")" aria-hidden="true"></span>
</a>