@model KuetOverflow.Models.SchoolViewModels.QuestionViewModel

@{
    ViewData["Title"] = "Kuet Overflow";
    Layout = "_StudentLayout";
}


<div>
    <div class="media">
        <div id="vote" class="media-left">
            @Html.Partial("_Vote", Model.Question)
        </div>
        <div class="media-body">
            
            <br/>
            <h3 class="media-heading">@Html.DisplayFor(model => model.Question.Title)</h3>
            <p>@Html.DisplayFor(model => model.Question.Description)</p>
            
            <br/>
            <div id="user-image-div" style="float: left">
                <img class="user-image" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/13010692_822939711171166_6804841189335939805_n.jpg?oh=f1182d5d344ed48a9c12a7b124b1c7f1&oe=59BE2076" />
            </div>
            <div>
                asked by
                <p>@Html.DisplayFor(model => model.Question.UserName)</p>
                <p>@Html.DisplayFor(model => model.Question.DateTime)</p>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Question.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<h3>Answers</h3>

@foreach (var answer in Model.Answers)
{

    <hr/>
    <div>
        <h4>@answer.UserName</h4>
        <p>@answer.Title</p>
    </div>
    <br/>
}



<form asp-controller="Answers" asp-action="CreateByUser">

        <hr />
        <h3>Add an answer</h3>
            
        <textarea rows="6" cols="150" name="Title"></textarea>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Add Answer" class="btn btn-default"/>
            </div>
        </div>

</form>